data:
  raw_data: ${RAW_DATA}
  processed_data_path: ${PROCESSED_DATA}
  test_size: 0.2
  random_state: 42

features:
  numerical:
    - MonthlyRevenue 
    - MonthlyMinutes
    - TotalRecurringCharge
    - DirectorAssistedCalls
    - OverageMinutes
    - RoamingCalls
    - PercChangeMinutes
    - PercChangeRevenues
    - DroppedCalls
    - BlockedCalls
    - UnansweredCalls
    - CustomerCareCalls
    - ThreewayCalls 
    - ReceivedCalls
    - OutboundCalls
    - InboundCalls
    - PeakCallsInOut
    - OffPeakCallsInOut
    - DroppedBlockedCalls
    - CallForwardingCalls
    - CallWaitingCalls
    - MonthsInService
    - UniqueSubs
    - ActiveSubs
    - Handsets
    - HandsetModels
    - CurrentEquipmentDays
    - AgeHH1
    - AgeHH2
    - RetentionCalls
    - RetentionOffersAccepted
    - ReferralsMadeBySubscriber
    - IncomeGroup
    - AdjustmentsToCreditRating
  categorical:
    - contract_type
    - payment_method
    - internet_service
    - ServiceArea
    - ChildrenInHH
    - HandsetRefurbished
    - HandsetWebCapable 
    - TruckOwner 
    - RVOwner 
    - Homeownership
    - BuysViaMailOrder 
    - RespondsToMailOffers 
    - OptOutMailings
    - NonUSTravel
    - OwnsComputer
    - HasCreditCard 
    - NewCellphoneUser
    - NotNewCellphoneUser
    - OwnsMotorcycle
    - HandsetPrice
    - MadeCallToRetentionTeam
    - CreditRating
    - PrizmCode
    - Occupation
    - MaritalStatus
  target: Churn
  selected_features: ['MonthlyRevenue', 'MonthlyMinutes', 'OverageMinutes', 'UnansweredCalls',
       'CustomerCareCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'ReceivedCalls', 'TotalRecurringCharge', 'CurrentEquipmentDays',
       'DroppedBlockedCalls', 'MonthsInService', 'ActiveSubs',
       'RespondsToMailOffers', 'RetentionCalls', 'RetentionOffersAccepted',
       'MadeCallToRetentionTeam', 'ReferralsMadeBySubscriber', 'CreditRating',
       'IncomeGroup', 'Occupation', 'PrizmCode','Churn']

preprocessing:
  scaler: standard 
  handle_missing: median
  handle_outliers: true
  outlier_method: iqr  

encoding:
  MadeCallToRetentionTeam:
    strategy: mapping
    "Yes": 1
    "No": 0
      
  RespondsToMailOffers:
    strategy: mapping
    mapping:
    "Yes": 1
    "No": 0
  CreditRating:
    strategy: ordinal
    categories: ["1-Highest", "2-High", "3-Good", "4-Medium", "5-Low", "6-VeryLow", "7-Lowest"]
  PrizmCode:
    strategy: onehot
    categories: ["Suburban", "Town", "Other", "Rural"]    
  Occupation:
    strategy: onehot
    categories: ["Professional", "Crafts", "Other", "Self", "Retired", "Homemaker", "Clerical", "Student"]
  
