name: unit-test
on: 
  push:
    branches:
      - '*'     
  pull_request:
  workflow_dispatch:

   
jobs:
    build: 
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v3
        
        - uses: actions/setup-python@v5
          name: Setup Python
          with:
            python-version: '3.12'  
        - name: Install pip
          run: |
            python -m pip install --upgrade pip
        - name: Check for requirements.txt
          run: |
            if [ ! -f requirements.txt ]; then
              echo "requirements.txt not found!"
              exit 1
            fi 
        - name: Install dependencies
          run: pip install -r requirements.txt
        
        
        - name: Test with Pytest
          
          run: |
            set -a
            source .env.example
            set +a
            
            
            pytest