name: unit-test
on: 
  push:
    branches:
      - '*'     

  #   paths:
  #     - ml-pipeline/*
  # pull_request:
  #   branches:
  #     - '*'     

  #   paths:
  #     - ml-pipeline/*
  # workflow_dispatch:
   
jobs:
    build: 
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v3
        
        - uses: actions/setup-python@v5
          name: Setup Python
          with:
            python-version: '3.13'  
        - name: Install pip
          run: |
            python -m pip install --upgrade pip
        - name: Check for requirements.txt
          run: |
            if [ ! -f ml-pipeline/requirements.txt ]; then
              echo "requirements.txt not found!"
              exit 1
            fi 
        - name: Install dependencies
          run: pip install -r ml-pipeline/requirements.txt
        
        
        - name: Test with Pytest
          
          run: |
            set -a
            source ml-pipeline/.env.example
            set +a
            
            
            pytest